.progressbar {
  border: 0.35rem solid var(--theme-color-2);

  &.small {
    width: 2rem;
    height: 1rem;
  }

  &.medium {
    width: 10rem;
    height: 4rem;
  }

  &.large {
    width: 20rem;
    height: 6rem;
  }
}

.progress {
  width: 0;
  height: 100%;
  background-color: var(--theme-color-2);
}
