.token {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: var(--spacing-xs);
}

.name {
  text-transform: uppercase;
  font-size: var(--font-size-m);
}

.price {
  font-size: var(--font-size-l);
}

.variation {
  display: flex;
  align-items: center;
  font-size: var(--font-size-l);
}

.positive {
  color: var(--color-6);
}

.negative {
  color: var(--color-10);
}

.volume {
  flex: 0 0 100%;
  font-size: var(--font-size-l);
}
