$mobile-landscape: 768px;

.settings {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: var(--spacing-s);
  padding: 0 var(--spacing-s);
  color: var(--theme-color-1);
}

.setting {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-xs);
}

.title {
  flex: 0 0 100%;
  font-size: var(--font-size-s);

  @media (min-width: $mobile-landscape) {
    flex: initial;
  }
}

.button {
  text-transform: uppercase;
  padding: var(--spacing-xs);
  font-size: var(--font-size-xs);
  background-color: var(--theme-color-1);
  color: var(--theme-color-2);
}
