@font-face {
  font-family: 'Simplest';
  src:
    url('../../assets/fonts/Simplest.woff2') format('woff2'),
    url('../../assets/fonts/Simplest.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Mirror';
  src:
    url('../../assets/fonts/Mirror.woff2') format('woff2'),
    url('../../assets/fonts/Mirror.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Ultra';
  src:
    url('../../assets/fonts/Ultra.woff2') format('woff2'),
    url('../../assets/fonts/Ultra.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
