.debug {
  grid-column: 1;
  grid-row: 1;
  display: flex;
  flex-flow: row wrap;
  gap: var(--spacing-xs);
  padding: var(--spacing-xs);
  background-color: #ffbfec;
  font-size: var(--font-size-xs);
  color: #ff00ae;

  form {
    display: flex;
    align-items: center;

    &:first-child {
      margin-left: 5rem;
    }
  }

  label {
    margin-right: var(--spacing-xs);
  }

  input {
    width: 5rem;
    font-family: var(--theme-font-text), sans-serif;
    font-weight: normal;
    font-size: inherit;
    color: inherit;
  }

  button {
    padding: 0 var(--spacing-xs);
    font-family: var(--theme-font-text), sans-serif;
    font-weight: normal;
    font-size: inherit;
    color: inherit;
  }
}
