.button {
  position: relative;
}

.value {
  position: absolute;
  z-index: 2;
  white-space: nowrap;
  padding: 0 0.25rem;
  animation: SlideUp 900ms var(--ease-out);
  font-size: var(--font-size-l);
  color: var(--color-7);
}

@keyframes SlideUp {
  0% {
    transform: translate3d(-1rem, -2rem, 0);
  }
  50% {
    transform: translate3d(-1rem, -8rem, 0);
  }
  100% {
    transform: translate3d(-1rem, -14rem, 0);
  }
}
