.navigation {
  padding: 0 var(--spacing-s) var(--spacing-s);
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-s);
  list-style-type: none;
}

.link {
  text-decoration: none;
  text-transform: uppercase;
  font-size: var(--font-size-m);
  color: var(--theme-color-1);

  &:focus-visible {
    outline: 0.25rem solid var(--color-7);
  }
}
