$tablet-landscape: 1280px;
$tablet-portrait: 1024px;
$mobile-landscape: 768px;

.menu {
  position: relative;
  height: 0;
  background-color: var(--theme-color-2);
  transition-property: height;
  transition-duration: 300ms;
  transition-timing-function: var(--ease-expo);
  //will-change: height;

  &.open {
    height: 22rem;
    transition-duration: 400ms;

    @media (min-width: $mobile-landscape) {
      height: 10rem;
    }

    @media (min-width: $tablet-portrait) {
      height: 7rem;
    }
  }
}

.inside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  height: 0;
  transform: translateY(1rem);
  visibility: hidden;
  transition-property: height, transform;
  transition-duration: 100ms;
  transition-timing-function: var(--ease-expo);
  //will-change: height;

  .open & {
    height: 22rem;
    transform: translateY(0);
    visibility: visible;
    transition-duration: 400ms;

    @media (min-width: $mobile-landscape) {
      height: 10rem;
    }

    @media (min-width: $tablet-portrait) {
      height: 7rem;
    }
  }
}

.button {
  position: absolute;
  top: 100%;
  left: 0;
  display: flex;
  align-items: center;
  padding: var(--spacing-xs);
  background-color: var(--theme-color-2);
  text-transform: uppercase;
  font-size: var(--font-size-xs);
  color: var(--theme-color-1);
  outline-offset: -0.25rem;

  &.active,
  &:active {
    outline: 0.25rem solid var(--color-7);
  }
}

.actions {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-s);

  @media (min-width: $tablet-portrait) {
    flex-direction: row;
  }
}
