.formfield {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);
  font-family: var(--theme-font-text), sans-serif;
  font-weight: normal;
  font-size: var(--font-size-s);
}

//.label {
//}

//.helpertext {
//}

.errormessage {
  color: var(--color-10);
}
